.add-todo{
  position: relative;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 30px;
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 100px;
    box-sizing: border-box;
    font-size: 30px;
  }
  .input-length{
    position: absolute;
    right: 0;
    bottom: 30px;
    margin-right: -20px;
    transform: translateX(100%);
  }
  .input-review {
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: auto;
  }
}
