html,
body,
ul,
div,
li, *{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

  .nav-bar{
    width: block;
    width: 100%;
    height: 50px;
    background: rgba(0, 255, 228, 0.53);
    div {
      width: 80%;
      height: 50px;
      margin: 0 auto;
      a{
        display: block;
        height: 50px;
        width: 50px;
        float: left;
        svg {
          width: 50px;
          height: 50px;
          margin-top: -5px;
        }
      }
    }
  }

