.label {
  position: fixed;
  padding: 5px 10px;
  top: 100px;
  right: 0;
  min-width: 100px;
  max-width: 180px;
  background: #fff;
  .label-fn {
    display: flex;
    height: 25px;
    justify-content: space-around;
    flex-direction: row;
    input {
      display: block;
      width: 80px;
      outline: none;
    }
    button {
      padding: 2px 5px;
      background: none;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }
  .label-list {
    li {
      float: left;
      height: 28px;
      line-height: 28px;
      padding: 0px 10px;
      margin: 5px;
      color: rgb(61, 79, 98);
      border: 1px dashed rgb(61, 79, 98);
    }
  }
}