.list{
  margin: 150px auto 0;
  width: 50%;
  li {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    div {
      float: left;
      padding: 0 10px;
      background: #fff;
      border-radius: 5px;  
      span {
        margin-right: 10px;
        color: #555;
      }
      a {
        color: #333;
      }
    }
    .btn {
      float: right;
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border: none;
      background: #fff;
      color: #333;
      border-radius: 5px;
      font-size: 12px;
    }
  }
}